<div class="about-callout container text-center">
  <h1>À propos de nous</h1>
  <p>Ceci est le site des utras CSC, rejoignez nous pour créer notre ligue d'ultras constantiniens.</p>
  <p>هدا الموقع يهدف لانشاء أول رايطة رسمية لمشجعي شباب قسنطينة </p>
</div>