<div class="home-callout text-center container-fluid">
<h1>هدا الموقع يهدف الى انشاء أول رابطة رسمية لمشجعي نادي شباب قسنطينة</h1>
<h1><%= link_to "تسجيل الدعم", new_contact_path %></h1>
<img src="https://upload.wikimedia.org/wikipedia/fr/f/f7/Logo_CS_Constantine.png" alt="Flowers in Chania">
</div>